.modal-body {
  background: linear-gradient( #FDE4CF, #90DBF4,#B9FBC0);
  font-weight: bold;
  text-align: center;
}

.modal-head {
  background: linear-gradient(#f1d3ec, #c6eff3);
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
