.foot {
  border: 3px double #081C15;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#c6eff3, #f1d3ec);
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: auto;
}


